.carousel{
    @media(min-width:576px){
        width: 100% !important;
    }
    @media(min-width:992px){
        width: 50% !important;
    }
}

.carousel-inner{
  height: 100% !important;
  width: 100% !important;
    
}
.carousel-item img{
    width: 100% !important;
    height: 100% !important;
}
